/vendors
/node_modules
/public/hot
/public/storage
/storage/*.key
/public/fileupload/*

!public/fileupload/imageFile2.png

/public/signatures/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/config/database.php
artisan.php
/app/Providers/AppServiceProvider.php
/composer.lock
