.panel-scoped-telemedicine {
  /*.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }*/
}
.panel-scoped-telemedicine .stepper-wrapper {
  font-family: Arial;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.panel-scoped-telemedicine .stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.panel-scoped-telemedicine .stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}
.panel-scoped-telemedicine .stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}
.panel-scoped-telemedicine .stepper-item.active {
  font-weight: bold;
}
.panel-scoped-telemedicine .stepper-item.completed .step-counter {
  background-color: #4bb543;
  color: white;
}
.panel-scoped-telemedicine .stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 120px;
  top: 20px;
  left: 50%;
  z-index: 3;
  color: white;
}
.panel-scoped-telemedicine .step-counter-examined:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .stepper-item-prescription.completed::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 125px;
  top: 44px;
  left: 50px;
  z-index: 3;
  transform: rotate(26deg);
}
.panel-scoped-telemedicine .stepper-item-prescription::after {
  transform: rotate(160deg);
  margin-top: -28px;
}
.panel-scoped-telemedicine .step-counter-prescription:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .stepper-item-upward {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.panel-scoped-telemedicine .stepper-item-upward .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  margin-top: -50px;
}
.panel-scoped-telemedicine .stepper-item-upward.completed .step-counter {
  background-color: #4bb543;
  color: white;
}
.panel-scoped-telemedicine .stepper-item-upward.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  left: 60%;
  z-index: 3;
  margin-top: -30px;
}
.panel-scoped-telemedicine .stepper-item-upward::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  left: -45%;
  z-index: 2;
  transform: rotate(160deg);
  margin-top: -8px;
}
.panel-scoped-telemedicine .stepper-item-follow_new .step-counter-follow_new {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-top: -44px;
}
.panel-scoped-telemedicine .stepper-item-follow_new.completed .step-counter-follow_new {
  background-color: #4bb543;
  color: white;
}
.panel-scoped-telemedicine .stepper-item-follow_new {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 100px;
}
.panel-scoped-telemedicine .stepper-item-follow_new::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 120px;
  z-index: 2;
  left: -100px;
  transform: rotate(26deg);
  margin-top: -74px;
}
.panel-scoped-telemedicine .step-counter-follow_new:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .step-counter-referred {
  cursor: pointer;
}
.panel-scoped-telemedicine .step-counter-referred:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .stepper-item-referred {
  margin-top: -50px;
}
.panel-scoped-telemedicine .stepper-item .step-counter-follow {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-top: 5px;
}
.panel-scoped-telemedicine .stepper-item-follow {
  margin-top: 35px;
  width: 150px;
}
.panel-scoped-telemedicine .stepper-item-follow.completed .step-counter-follow {
  background-color: #4bb543;
  color: white;
}
.panel-scoped-telemedicine .stepper-item-follow.completed::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 135px;
  z-index: 3;
  margin-top: -1px;
}
.panel-scoped-telemedicine .step-counter-follow:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .stepper-item-treated_new {
  width: 150px;
  top: 120px;
  margin-bottom: 150px;
}
.panel-scoped-telemedicine .stepper-item .step-counter-treated_new {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-top: 5px;
}
.panel-scoped-telemedicine .step-name-treated_new {
  margin-top: 1px;
}
.panel-scoped-telemedicine .stepper-item-treated_new.completed .step-counter-treated_new {
  background-color: #4bb543;
}
.panel-scoped-telemedicine .stepper-item-treated_new::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 180px;
  transform: rotate(45deg);
  top: -42px;
  left: -80px;
}
.panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 145px;
  z-index: 3;
  transform: rotate(30deg);
  margin-top: -5px;
  color: white;
}
.panel-scoped-telemedicine .step-name-treated_new::after {
  content: none !important;
}
.panel-scoped-telemedicine .step-counter-treated_new:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.panel-scoped-telemedicine .stepper-item-follow_new::after {
  content: none !important;
}
.panel-scoped-telemedicine .stepper-item:first-child::before {
  content: none;
}
.panel-scoped-telemedicine .stepper-item:last-child::after {
  content: none;
}
.panel-scoped-telemedicine .stepper-item:nth-child(6)::after {
  content: none;
}
.panel-scoped-telemedicine .stepper-item:nth-child(7)::after {
  content: none;
}
