.panel-scoped-telemedicine {
  .stepper-wrapper {
    font-family: Arial;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  /*.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }*/

  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;

  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: #4F9B83;
    color:white;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 120px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .step-counter-examined:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 125px;
    top: 44px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }

  .stepper-item-prescription::after {
    transform: rotate(160deg);
    margin-top: -28px;
  }

  .step-counter-prescription:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-upward {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .stepper-item-upward .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    margin-top:-50px;
  }

  .stepper-item-upward.completed .step-counter {
    background-color: #4F9B83;
    color:white;
  }

  .stepper-item-upward.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    left: 40%;
    z-index: 3;
    margin-top: -30px;
  }

  .stepper-item-upward::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    left: -45%;
    z-index: 2;
    transform: rotate(160deg);
    margin-top: -8px;
  }

  .stepper-item-follow_new .step-counter-follow_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: -44px;
  }

  .stepper-item-follow_new.completed .step-counter-follow_new {
    background-color: #4F9B83;
    color: white;
  }

  .stepper-item-follow_new {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 100px;
  }


  .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 120px;
    z-index: 2;
    left: -100px;
    transform: rotate(26deg);
    margin-top: -74px;
  }

  .step-counter-follow_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .step-counter-referred {
    cursor: pointer;
  }

  .step-counter-referred:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-referred {
    margin-top:-50px;
  }

  .stepper-item .step-counter-follow {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .stepper-item-follow {
    margin-top:35px;
    width: 150px;
  }

  .stepper-item-follow.completed .step-counter-follow {
    background-color: #4F9B83;
    color: white;
  }

  .stepper-item-follow.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 135px;
    z-index: 3;
    margin-top: -1px;
  }

  .step-counter-follow:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-treated_new {
    width: 150px;
    top: 120px;
    margin-bottom: 150px;
  }

  .stepper-item .step-counter-treated_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .step-name-treated_new {
    margin-top: 1px;
  }

  .stepper-item-treated_new.completed .step-counter-treated_new {
    background-color: #4F9B83;
    color: white // i am adding this color to highlight the threated icon completed
  }

  .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 180px;
    transform: rotate(45deg);
    top: -42px;
    left: -80px;
  }

  .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 175px; //changes from 145
    z-index: 3;
    transform: rotate(44deg); //changes from 30
    margin-top: -10px; // changes from -5
    color:white; 
  }

  .step-name-treated_new::after {
    content: none !important;
  }

  .step-counter-treated_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-follow_new::after {
    content: none !important;
  }

  .stepper-item:first-child::before {
    content: none;
  }

  .stepper-item:last-child::after {
    content: none;
  }
  
  .stepper-item:nth-child(6)::after {
    content: none;
  }

  .stepper-item:nth-child(7)::after {
    content: none;
  }

}

/* start my file upload style changes */
.carousel img {
  margin: 0 auto;
}

.left-control .glyphicon-chevron-left{
  left: 50%;
  margin-left:-50px;
}
.right-control .glyphicon-chevron-right{
  right: 50%;
  margin-right:-50px;
}
.d-file{
  font-size: 14px;
  color: #FFF; 
  background-color: #4CAF50; 
  padding: 8px 12px;
  margin: 4px;
  border-radius: 5px; 
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 150px; 
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none; 
}
.d-file:hover {
  color: #7AE205; 
  transform: translateY(-2px);
}

.file-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.filecolor {
  color: white !important;
  background: linear-gradient(180deg, #52C755, #056608) !important;
  border: 1px solid #056608 !important;
}
a.btn.filecolor:hover{
  transform: translateY(-10px);
  color:white;
  background: linear-gradient(180deg, #056608, #8BD98D);
}
a.btn.filecolorDelete{
  color: white;
  background: linear-gradient(180deg, #EE3533, #ED1E24);
}
a.btn.filecolorDelete:hover{
  transform: translateY(-10px);
  color: white;
  background: linear-gradient(180deg, #ED1E24, #F3787A);
}
a.btn.filecolorclose{
  color:dark; /* Darker text for better readability */
  background: linear-gradient(180deg, #EDEDED, #CCCCCC);
  border: 1px solid #BBB; /* Subtle border for definition */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effect */
}
.filecolorclose:hover{
  transform: translateY(-10px); /* Move the button up and to the right */
  background: linear-gradient(180deg, #ED1E24, #F3787A);
  /* Optional: Add a box-shadow for better visual effect on hover */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#closeModalId {
  display: inline-block;
  width: auto; 
}

/*-----------------For Ipad Mini Portrait------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: portrait) {
  .stepper-item-upward {
    width: 50px;
  }

  .stepper-item {
    width: 45px;
  }

  .stepper-item-prescription .step-name {
    font-size: 8px;
    text-align: center;
    width: 100px;
    margin-left: -10px;
  }

  .stepper-item .step-name {
    font-size: 8px;
    text-align: center;
    width: 55px;
    margin-left: -10px;
  }

  .stepper-item .step-name-treated_new {
    font-size: 8px;
    text-align: center;
    width: 60px;
    margin-left: -10px;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    /* border-bottom: 2px solid #f00707; */
    width: 165px;
    transform: rotate(55deg);
    top: -60px;
    left: -70px;
  }

  .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 60px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-referred.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 155px;
    left: -60px;
    z-index: 3;
    transform: rotate(55deg);
    margin-top: 10px;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 100px;
    top: 45px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }

  .panel-scoped-telemedicine .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    /* border-bottom: 2px solid #b55443; */
    width: 95px;
    z-index: 2;
    left: -72px;
    transform: rotate(26deg);
    margin-top: -74px;
  }

  .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 95px;
    top: 20px;
    left: 50%;
    z-index: 4;
    color: white;
  }
}

@media (max-width: 768px) {
 .stepper-item-upward {
    width: 50px;
  }

  .stepper-item {
    width: 45px;
  }

  .stepper-item-prescription .step-name {
    font-size: 8px;
    text-align: center;
    width: 100px;
    margin-left: -10px;
  }

  .stepper-item .step-name {
    font-size: 8px;
    text-align: center;
    width: 55px;
    margin-left: -10px;
  }

  .stepper-item .step-name-treated_new {
    font-size: 8px;
    text-align: center;
    width: 60px;
    margin-left: -10px;
  }

  .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 60px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-referred.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 140px;
    z-index: 3;
    transform: rotate(69deg);
    margin-top: -0px;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 55px;
    top: 45px;
    left: 20px;
    z-index: 3;
    transform: rotate(26deg);
  }

  .panel-scoped-telemedicine .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 95px;
    z-index: 2;
    left: -50px;
    transform: rotate(26deg);
    margin-top: -74px;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 137px;
    transform: rotate(65deg);
    top: -60px;
    left: -30px;
  }

  .position-blue {
    font-size: 10px;
  }

  #closeModalId {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}
.popover {
  width: 230px;
}

/*-----------------css from File Folder List Modal------------*/

/*-----------------css from File Folder List Modal------------*/