.panel-scoped-telemedicine {
  .stepper-wrapper {
    font-family: Arial;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  // .stepper-item::before {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 2px solid #ccc;
  //   width: 100%;
  //   top: 20px;
  //   left: -65%;
  //   z-index: 2;
  // }
    .stepper-item::before {
      left: -50%;
    }
     /* Remove line for first step */
  .stepper-item:first-child::before,
  .stepper-item:first-child.completed::before {
    content: none !important;
    border: none !important;
  }

  /* Remove line for last step */
  .stepper-item:last-child::after,
  .stepper-item:last-child.completed::after {
    content: none !important;
    border: none !important;
  }

  /* Completed state */
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
    color: white;
  }

  .stepper-item.completed::after {
    border-bottom: 2px solid #4bb543;
  }

  /* Active state */
  .stepper-item.active .step-counter {
    background-color: #007bff;
    color: white;
  }
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    // border-bottom: 2px solid #f00707;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

   .stepper-item .step-counter {
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    z-index: 5;
    position: relative;
  }
  /* default completed step connector */
  .panel-scoped-telemedicine .stepper-item.completed::after {
    border-bottom: 2px solid #4bb543; /* normal completed green */
  }

  /* special rule for Discharged step (always green when completed) */
  .panel-scoped-telemedicine .stepper-item:last-child.completed .step-counter {
    background: #4bb543 !important; /* green background */
    color: #fff !important;
    border-color: #4bb543 !important;
  }

  

  .stepper-item::before,
  .stepper-item::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    // left: -60px;
    z-index: 2;
  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: #4F9B83;
    color:white;
  }

  .stepper-item.completed .step-counter.step-counter-referral{
    background-color: #4bb543;
    color:white;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 120px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .step-counter-examined:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 125px;
    top: 46px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }

  .stepper-item-prescription::after {
    width: 125px;
    transform: rotate(160deg);
    margin-top: -28px;
  }

  .step-counter-prescription:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-upward {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .stepper-item-upward .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    margin-top:-50px;
  }

  .stepper-item-upward.completed .step-counter {
    background-color: #4F9B83;
    color:white;
  }

  .stepper-item-upward.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    left: 40%;
    z-index: 3;
    margin-top: -30px;
  }

  // .stepper-item-upward::before {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 2px solid #ccc;
  //   width: 100%;
  //   left: -45%;
  //   z-index: 2;
  //   transform: rotate(160deg);
  //   margin-top: -10.5px;
  // }

  .stepper-item-follow_new .step-counter-follow_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: -44px;
  }

  .stepper-item-follow_new.completed .step-counter-follow_new {
    background-color: #4F9B83;
    color: white;
  }

  .stepper-item-follow_new {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 100px;
  }


  .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 120px;
    z-index: 2;
    left: -100px;
    transform: rotate(26deg);
    margin-top: -74px;
  }

  .step-counter-follow_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .step-counter-referred {
    cursor: pointer;
  }

  .step-counter-referred:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-referred {
    margin-top:-50px;
  }

  .stepper-item .step-counter-follow {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .stepper-item-follow {
    margin-top:35px;
    width: 150px;
  }

  .stepper-item-follow.completed .step-counter-follow {
    background-color: #4F9B83;
    color: white;
  }

  .stepper-item-follow.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 135px;
    z-index: 3;
    margin-top: -1px;
  }

  .step-counter-follow:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-treated_new {
    width: 150px;
    top: 120px;
    margin-bottom: 150px;
  }

  .stepper-item .step-counter-treated_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .step-name-treated_new {
    margin-top: 1px;
  }

  .stepper-item-treated_new.completed .step-counter-treated_new {
    background-color: #4F9B83;
    color: white // i am adding this color to highlight the threated icon completed
  }

  .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 180px;
    transform: rotate(45deg);
    top: -42px;
    left: -80px;
  }

  .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 175px; //changes from 145
    z-index: 3;
    transform: rotate(44deg); //changes from 30
    margin-top: -10px; // changes from -5
    color:white; 
  }

  .step-name-treated_new::after {
    content: none !important;
  }

  .step-counter-treated_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-follow_new::after {
    content: none !important;
  }

  .stepper-item:first-child::before {
    content: none;
  }

  .stepper-item:last-child::after {
    content: none;
  }
  
  .stepper-item:nth-child(6)::after {
    content: none;
  }

  .stepper-item:nth-child(7)::after {
    content: none;
  }

}

/* start my file upload style changes */
.carousel img {
  margin: 0 auto;
}

.left-control .glyphicon-chevron-left{
  left: 50%;
  margin-left:-50px;
}
.right-control .glyphicon-chevron-right{
  right: 50%;
  margin-right:-50px;
}
.d-file{
  font-size: 14px;
  color: #FFF; 
  background-color: #4CAF50; 
  padding: 8px 12px;
  margin: 4px;
  border-radius: 5px; 
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 150px; 
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none; 
}
.d-file:hover {
  color: #7AE205; 
  transform: translateY(-2px);
}

.file-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.filecolor {
  color: white !important;
  background: linear-gradient(180deg, #52C755, #056608) !important;
  border: 1px solid #056608 !important;
}
a.btn.filecolor:hover{
  transform: translateY(-10px);
  color:white;
  background: linear-gradient(180deg, #056608, #8BD98D);
}
a.btn.filecolorDelete{
  color: white;
  background: linear-gradient(180deg, #EE3533, #ED1E24);
}
a.btn.filecolorDelete:hover{
  transform: translateY(-10px);
  color: white;
  background: linear-gradient(180deg, #ED1E24, #F3787A);
}
a.btn.filecolorclose{
  color:dark; /* Darker text for better readability */
  background: linear-gradient(180deg, #EDEDED, #CCCCCC);
  border: 1px solid #BBB; /* Subtle border for definition */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effect */
}
.filecolorclose:hover{
  transform: translateY(-10px); /* Move the button up and to the right */
  background: linear-gradient(180deg, #ED1E24, #F3787A);
  /* Optional: Add a box-shadow for better visual effect on hover */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#closeModalId {
  display: inline-block;
  width: auto; 
}

@media (max-width: 768px) {
  .stepper-item-upward {
    width: 50px;
  }
  .panel-scoped-telemedicine.stepper-item::before, 
  .panel-scoped-telemedicine .stepper-item::after
  {
      content: "";
      position: absolute;
      border-bottom: 2px solid #ccc;
      width: 100%;
      top: 20px;
      left: -60px;
      z-index: 2;
  }

  .stepper-item {
    width: 45px;
  }
  

  .stepper-item-prescription .step-name {
    font-size: 6px;
    text-align: end;
    width: 100px;
    margin-left: -10px;
  }

  .stepper-item .step-name {
    font-size: 5pt;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
  }
  .step-counter-prescription .step-name {
    text-align: end;
  }
  .stepper-item .step-name-treated_new {
    // font-size: 8px;
    text-align: center;
    width: 60px;
    margin-left: -10px;
  }
  .stepper-item-upward .step-name {
    font-size: 6px;
    text-align: center;
    width: 60px;
    margin-left: -10px;
  }

  .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 60px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-referred.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 140px;
    z-index: 3;
    transform: rotate(69deg);
    margin-top: -0px;
    color: white;
  }
  // .panel-scoped-telemedicine .stepper-item-upward::before {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 2px solid #ccc;
  //   // border-bottom: 2px solid #f10707;
  //   width: 100%;
  //   left: -45%;
  //   z-index: 2;
  //   transform: rotate(160deg);
  //   margin-top: -5px;
  // }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    // border-bottom: 2px solid #b55443;
    width: 55px;
    top: 50px;
    left: 20px;
    z-index: 3;
    transform: rotate(30deg);
  }
  
  .panel-scoped-telemedicine .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 93px;
    z-index: 2;
    left: -50px;
    transform: rotate(30deg);
    margin-top: -73px;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 137px;
    transform: rotate(65deg);
    top: -53px;
    left: -30px;
  }

  .position-blue {
    font-size: 8px;
  }

  #closeModalId {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .panel-scoped-telemedicine .stepper-item-prescription::after {
    width: 50px;
    transform: rotate(160deg);
    margin-top: -25px;
    display: hidden;
  }
}

.popover {
  width: 230px;
}

/*-----------------For Ipad Mini Portrait------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: portrait) 
{
  .stepper-item-upward {
    width: 50px;
  }

  .stepper-item {
    width: 45px;
  }

  .stepper-item-prescription .step-name {
    // font-size: 8px;
    text-align: center;
    width: 100px;
    margin-left: -10px;
  }

  .step-counter .step-name {
    // font-size: 8px;
    text-align: center;
    width: 55px;
    margin-left: -10px;
  }
  .stepper-item .step-name {
    // font-size: 8px;
    text-align: center;
    width: 55px;
    margin-left: -10px;
  }

  .stepper-item .step-name-treated_new {
    // font-size: 8px;
    text-align: center;
    width: 60px;
    margin-left: -10px;
  }
  
   .panel-scoped-telemedicine .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 22px;
    left: -65%;
    z-index: 2;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    // border-bottom: 2px solid #f00707; 
    width: 165px;
    transform: rotate(55deg);
    top: -50px;
    left: -70px;
  }

  // .panel-scoped-telemedicine .stepper-item.completed::after {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 2px solid #4bb543;
  //   width: 60px;
  //   top: 20px;
  //   left: 50%;
  //   z-index: 3;
  //   color: white;
  // }

  .panel-scoped-telemedicine .stepper-item-referred.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 155px;
    left: -60px;
    z-index: 3;
    transform: rotate(55deg);
    margin-top: 10px;
    color: white;
  }

  .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
    display: none;
  }

  .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    /* border-bottom: 2px solid #b55443; */
    width: 100px;
    top: 50px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }
  .panel-scoped-telemedicine .stepper-item-upward.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    left: 40%;
    z-index: 3;
    margin-top: -28px;
  }

  .panel-scoped-telemedicine .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    // border-bottom: 2px solid #b5aa43;
    width: 95px;
    z-index: 2;
    left: -72px;
    transform: rotate(26deg);
    margin-top: -72px;
  }
  // .panel-scoped-telemedicine .stepper-item-upward::before {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 2px solid #ccc;
  //   // border-bottom: 2px solid #f1da07;
  //   width: 100%;
  //   left: -45%;
  //   z-index: 2;
  //   transform: rotate(160deg);
  //   margin-top: -8px;
  // }
  .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    // border-bottom: 2px solid #b55443;
    width: 95px;
    top: 22px;
    left: 50%;
    z-index: 4;
    color: white;
  }
  .panel-scoped-telemedicine .stepper-item-prescription::after {
    width: 100px;
    transform: rotate(160deg);
    margin-top: -25px;
    display: hidden;
  }
}
/* iPad Air - Portrait (820x1180) */
@media only screen 
  and (min-device-width: 820px) 
  and (max-device-width: 820px) 
  and (min-device-height: 1180px) 
  and (max-device-height: 1180px) 
  and (orientation: portrait) {
  
  .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    // border-bottom: 2px solid #b55443;
    width: 100px;
    top: 50px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }
  .panel-scoped-telemedicine .stepper-item-prescription::after {
    width: 110px;
    transform: rotate(160deg);
    margin-top: -18px;
  }

   .panel-scoped-telemedicine .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 109px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }
  .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
    display: none;
  }

}

  /* iPad Pro 12.9" - Portrait (1024 x 1366) */
  @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (min-device-height: 1366px) 
    and (max-device-height: 1366px) 
    and (orientation: portrait) {
    .stepper-item-upward {
      width: 50px;
    }
    .panel-scoped-telemedicine .stepper-item-treated_new::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #ccc;
      /* border-bottom: 2px solid #f00707; */
      width: 165px;
      transform: rotate(55deg);
      top: -60px;
      left: -70px;
    }
    .panel-scoped-telemedicine .stepper-item-follow_new::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #ccc;
      // border-bottom: 2px solid #b5aa43;
      width: 95px;
      z-index: 2;
      left: -72px;
      transform: rotate(26deg);
      margin-top: -72px;
    }
    .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      width: 110px;
      top: 57px;
      left: 50px;
      z-index: 3;
      transform: rotate(26deg);
    }
    .panel-scoped-telemedicine .stepper-item.completed::after {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      width: 105px;
      top: 20px;
      left: 50%;
      z-index: 3;
      color: white;
    }
    
    .panel-scoped-telemedicine .stepper-item-treated_new.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      width: 185px; //changes from 145
      z-index: 3;
      transform: rotate(55deg); //changes from 30
      margin-top: 20px; // changes from -5
      color:white; 
    }
    .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
      display: none;
    }
  }
  /* Samsung Galaxy S20 Ultra */
  @media only screen 
    and (min-device-width: 412px) 
    and (max-device-width: 412px) 
    and (min-device-height: 915px) 
    and (max-device-height: 915px) 
    and (orientation: portrait) {
      
    .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      // border-bottom: 2px solid #b55443;
      width: 55px;
      top: 47px;
      left: 20px;
      z-index: 3;
      transform: rotate(30deg);
    }

  }

  /* iPhone XR */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 414px) 
    and (min-device-height: 896px) 
    and (max-device-height: 896px) 
    and (orientation: portrait) {

    .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      // border-bottom: 2px solid #b55443;
      width: 55px;
      top: 45px;
      left: 20px;
      z-index: 3;
      transform: rotate(30deg);
    }

    .panel-scoped-telemedicine .stepper-item.completed::after {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      // border-bottom: 2px solid #b55443;
      width: 60px;
      top: 20px;
      left: 50%;
      z-index: 3;
      color: white;
    }
    .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 45px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
    }
  }

  /* iPhone SE */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 375px) 
    and (min-device-height: 667px) 
    and (max-device-height: 667px) 
    and (orientation: portrait) {

    .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      // border-bottom: 2px solid #b55443;
      width: 55px;
      top: 49px;
      left: 20px;
      z-index: 3;
      transform: rotate(30deg);
    }

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #b55443;
        width: 64px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 50px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
      }
  }

  /* iPhone 12 Pro */
  @media only screen 
    and (min-device-width: 390px) 
    and (max-device-width: 390px) 
    and (min-device-height: 844px) 
    and (max-device-height: 844px) 
    and (orientation: portrait) {

    .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
      position: absolute;
      content: "";
      border-bottom: 2px solid #4bb543;
      // border-bottom: 2px solid #b55443;
      width: 55px;
      top: 49px;
      left: 20px;
      z-index: 3;
      transform: rotate(30deg);
    }

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 45px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 45px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
      }
  
  }

    /* iPhone 14 Pro Max */
    @media only screen 
      and (min-device-width: 430px) 
      and (max-device-width: 430px) 
      and (min-device-height: 932px) 
      and (max-device-height: 932px) 
      and (orientation: portrait) {
      .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #b55443;
        width: 55px;
        top: 45px;
        left: 20px;
        z-index: 3;
        transform: rotate(30deg);
      }
      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #b55443;
        width: 68px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 50px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
      }
    }

    /* Google Pixel 7 */
    @media only screen 
      and (min-device-width: 412px) 
      and (max-device-width: 412px) 
      and (min-device-height: 915px) 
      and (max-device-height: 915px) 
      and (orientation: portrait) {

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 50px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 50px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
      }
    }

    /* Surface Pro 7 */
    @media only screen 
      and (min-device-width: 912px) 
      and (max-device-width: 912px) 
      and (min-device-height: 1368px) 
      and (max-device-height: 1368px) 
      and (orientation: portrait) {

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #eb0e0e;
        width: 109px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #f0140c;
        width: 125px;
        top: 55px;
        left: 50px;
        z-index: 3;
        transform: rotate(26deg);
      }
      .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
        display: none;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 110px;
        transform: rotate(160deg);
        margin-top: -18px;
      }
    }

    /* Surface Duo*/
    @media only screen 
      and (min-device-width: 540px) 
      and (max-device-width: 540px) 
      and (min-device-height: 720px) 
      and (max-device-height: 720px) 
      and (orientation: portrait) {

        
      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 86px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }

        .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 75px;
        top: 48px;
        left: 40px;
        z-index: 3;
        transform: rotate(30deg);
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 60px;
        transform: rotate(160deg);
        margin-top: -25px;
        display: hidden;
      }
    }

    /* Asus Zenbook Fold Portrait (unfolded full tablet mode) */
    @media only screen 
      and (min-device-width: 853px) 
      and (max-device-width: 853px) 
      and (min-device-height: 1280px) 
      and (max-device-height: 1280px) 
      and (orientation: portrait) {

      .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #ee0707;
        width: 125px;
        top: 55px;
        left: 50px;
        z-index: 3;
        transform: rotate(26deg);
      }

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 105px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      // .panel-scoped-telemedicine .stepper-item-upward::before {
      //   position: absolute;
      //   content: "";
      //   border-bottom: 2px solid #ccc;
      //   width: 104px;
      //   left: -23%;
      //   z-index: 2;
      //   transform: rotate(160deg);
      //   margin-top: -10.5px;
      // }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 109px;
        transform: rotate(160deg);
        margin-top: -25px;
      }
      .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
        display: none;
      }
    }
    /* Samsung A51/A71 portrait viewport */
    @media only screen 
      and (width: 412px) 
      and (height: 914px) 
      and (orientation: portrait) {

      .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        // border-bottom: 2px solid #b55443;
        width: 55px;
        top: 46px;
        left: 20px;
        z-index: 3;
        transform: rotate(30deg);
      }
      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 53px;
        top: 20px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        transform: rotate(160deg);
        margin-top: -24px;
      }
    }
    /* Nest Hub (landscape default) */
    @media only screen 
      and (width: 1024px) 
      and (height: 600px) 
      and (orientation: landscape) {

      .panel-scoped-telemedicine .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 104px;
        top: 19px;
        left: 50%;
        z-index: 3;
        color: white;
      }
      // .panel-scoped-telemedicine .stepper-item-upward::before
      // {
      //     position: absolute;
      //     content: "";
      //     border-bottom: 2px solid #ccc;
      //     width: 145px;
      //     left: -33%;
      //     z-index: 2;
      //     transform: rotate(160deg);
      //     margin-top: -10.5px;
      // }
      .panel-scoped-telemedicine .stepper-item-prescription.completed::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 125px;
        top: 58px;
        left: 50px;
        z-index: 3;
        transform: rotate(26deg);
      }
      .panel-scoped-telemedicine .stepper-item-treated_new.completed::after {
        display: none;
      }
      .panel-scoped-telemedicine .stepper-item-prescription::after {
        width: 109px;
        transform: rotate(160deg);
        margin-top: -23px;
      }
    }  
/*-----------------css from File Folder List Modal------------*/

/*-----------------css from File Folder List Modal------------*/