.panel-scoped-telemedicine {
  .stepper-wrapper {
    font-family: Arial;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  /*.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }*/

  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;

  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: #4bb543;
    color:white;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 120px;
    top: 20px;
    left: 50%;
    z-index: 3;
    color: white;
  }

  .step-counter-examined:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-prescription.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 125px;
    top: 44px;
    left: 50px;
    z-index: 3;
    transform: rotate(26deg);
  }

  .stepper-item-prescription::after {
    transform: rotate(160deg);
    margin-top: -28px;
  }

  .step-counter-prescription:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-upward {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .stepper-item-upward .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    margin-top:-50px;
  }

  .stepper-item-upward.completed .step-counter {
    background-color: #4bb543;
    color:white;
  }

  .stepper-item-upward.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    left: 60%;
    z-index: 3;
    margin-top: -30px;
  }

  .stepper-item-upward::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    left: -45%;
    z-index: 2;
    transform: rotate(160deg);
    margin-top: -8px;
  }

  .stepper-item-follow_new .step-counter-follow_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: -44px;
  }

  .stepper-item-follow_new.completed .step-counter-follow_new {
    background-color: #4bb543;
    color: white;
  }

  .stepper-item-follow_new {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 100px;
  }


  .stepper-item-follow_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 120px;
    z-index: 2;
    left: -100px;
    transform: rotate(26deg);
    margin-top: -74px;
  }

  .step-counter-follow_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .step-counter-referred {
    cursor: pointer;
  }

  .step-counter-referred:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-referred {
    margin-top:-50px;
  }

  .stepper-item .step-counter-follow {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .stepper-item-follow {
    margin-top:35px;
    width: 150px;
  }

  .stepper-item-follow.completed .step-counter-follow {
    background-color: #4bb543;
    color: white;
  }

  .stepper-item-follow.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 135px;
    z-index: 3;
    margin-top: -1px;
  }

  .step-counter-follow:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-treated_new {
    width: 150px;
    top: 120px;
    margin-bottom: 150px;
  }

  .stepper-item .step-counter-treated_new {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-top: 5px;
  }

  .step-name-treated_new {
    margin-top: 1px;
  }

  .stepper-item-treated_new.completed .step-counter-treated_new {
    background-color: #4bb543;
  }

  .stepper-item-treated_new::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 180px;
    transform: rotate(45deg);
    top: -42px;
    left: -80px;
  }

  .stepper-item-treated_new.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 145px;
    z-index: 3;
    transform: rotate(30deg);
    margin-top: -5px;
    color:white; 
  }

  .step-name-treated_new::after {
    content: none !important;
  }

  .step-counter-treated_new:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .stepper-item-follow_new::after {
    content: none !important;
  }

  .stepper-item:first-child::before {
    content: none;
  }

  .stepper-item:last-child::after {
    content: none;
  }
  
  .stepper-item:nth-child(6)::after {
    content: none;
  }

  .stepper-item:nth-child(7)::after {
    content: none;
  }

}

.popover {
  width: 230px;
}
